<p id="notice"><%= notice %></p>

<p>
  <strong>Outbound:</strong>
  <%= @text.outbound %>
</p>

<p>
  <strong>Inbound:</strong>
  <%= @text.inbound %>
</p>

<p>
  <strong>User:</strong>
  <%= @text.user_id %>
</p>
